# MALARIA IN AFRICA (2007-2017)

In [2]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Control display of seaborn data 
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})

**DATASET BEFORE CLEANING.**

In [3]:
# Loading the dataset
df = pd.read_csv(r'..\..\resources\datasets\MalariaAfricaDataset.csv')
df

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)","People using safely managed drinking water services, urban (% of urban population)",People using safely managed sanitation services (% of population),"People using safely managed sanitation services, rural (% of rural population)","People using safely managed sanitation services, urban (% of urban population)",Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,NaN,18.24,19.96,17.33,34.65,-0.60,65.35,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,NaN,NaN,NaN,NaN,42.48,1.91,57.52,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.44,1.99,41.56,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,83.96,NaN,NaN,NaN,42.07,-1.44,57.93,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.00,2.16,23.00,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Togo,2017,TGO,278.20,1755577.0,69.7,31.1,41.7,NaN,NaN,NaN,NaN,NaN,NaN,58.84,1.58,41.16,3.79,65.13,48.39,89.06,16.13,7.40,28.61,8.619543,0.824782,POINT (8.619543 0.824782)
590,Tunisia,2017,TUN,NaN,NaN,NaN,NaN,NaN,92.66,NaN,NaN,78.12,NaN,88.29,31.36,0.20,68.64,1.57,96.25,88.71,99.70,90.92,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
591,Uganda,2017,UGA,336.76,11667831.0,NaN,NaN,NaN,7.07,4.46,15.70,NaN,NaN,NaN,76.80,3.01,23.20,6.25,49.10,41.25,75.11,18.47,16.17,26.11,1.373333,32.290275,POINT (1.373333 32.290275)
592,Zambia,2017,ZMB,160.05,5505639.0,NaN,NaN,NaN,NaN,NaN,46.25,NaN,NaN,NaN,57.02,2.01,42.98,4.21,59.96,41.95,83.86,26.37,18.93,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
593,Zimbabwe,2017,ZWE,108.55,467508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.29,67.76,1.55,32.24,1.28,64.05,49.80,94.00,36.22,31.47,46.22,-19.015438,29.154857,POINT (-19.015438 29.154857)

**ANALYZING THE DATASET.**

In [5]:
# Checking shape of data (rows, columns)
df.shape

(594, 27)

In [6]:
# Checking column names
df.columns

Index(['Country Name', 'Year', 'Country Code',
       'Incidence of malaria (per 1,000 population at risk)',
       'Malaria cases reported',
       'Use of insecticide-treated bed nets (% of under-5 population)',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural population)',
       'People using safely managed drinking water services, urban (% of urban population)',
       'People using safely managed sanitation services (% of population)',
       'People using safely managed sanitation services, rural (% of rural population)',
       'People using safely managed sanitation services, urban  (% of urban population)',
       'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Urban population (% of total population)',
       'Urban population growth (annual %)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural population)',
       'People using at least basic drinking water services, urban (% of urban population)',
       'People using at least basic sanitation services (% of population)',
       'People using at least basic sanitation services, rural (% of rural population)',
       'People using at least basic sanitation services, urban  (% of urban population)',
       'latitude', 'longitude', 'geometry'],
      dtype='object')

In [7]:
# Checking data types
df.dtypes

Country Name                                                                                object
Year                                                                                         int64
Country Code                                                                                object
Incidence of malaria (per 1,000 population at risk)                                        float64
Malaria cases reported                                                                     float64
Use of insecticide-treated bed nets (% of under-5 population)                              float64
Children with fever receiving antimalarial drugs (% of children under age 5 with fever)    float64
Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)      float64
People using safely managed drinking water services (% of population)                      float64
People using safely managed drinking water services, rural (% of rural population)         float64
People using safely managed drinking water services, urban (% of urban population)         float64
People using safely managed sanitation services (% of population)                          float64
People using safely managed sanitation services, rural (% of rural population)             float64
People using safely managed sanitation services, urban  (% of urban population)            float64
Rural population (% of total population)                                                   float64
Rural population growth (annual %)                                                         float64
Urban population (% of total population)                                                   float64
Urban population growth (annual %)                                                         float64
People using at least basic drinking water services (% of population)                      float64
People using at least basic drinking water services, rural (% of rural population)         float64
People using at least basic drinking water services, urban (% of urban population)         float64
People using at least basic sanitation services (% of population)                          float64
People using at least basic sanitation services, rural (% of rural population)             float64
People using at least basic sanitation services, urban  (% of urban population)            float64
latitude                                                                                   float64
longitude                                                                                  float64
geometry                                                                                    object
dtype: object

In [8]:
# Checking for basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 27 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Country Name                                                                             594 non-null    object
 1   Year                                                                                     594 non-null    int64
 2   Country Code                                                                             594 non-null    object
 3   Incidence of malaria (per 1,000 population at risk)                                      550 non-null    float64
 4   Malaria cases reported                                                                   550 non-null    float64
 5   Use of insecticide-treated bed nets (% of under-5 population)                            132 non-null    float64
 6   Children with fever receiving antimalarial drugs (% of children under age 5 with fever)  122 non-null    float64
 7   Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)    106 non-null    float64
 8   People using safely managed drinking water services (% of population)                    99 non-null     float64
 9   People using safely managed drinking water services, rural (% of rural population)       88 non-null     float64
 10  People using safely managed drinking water services, urban (% of urban population)       176 non-null    float64
 11  People using safely managed sanitation services (% of population)                        132 non-null    float64
 12  People using safely managed sanitation services, rural (% of rural population)           110 non-null    float64
 13  People using safely managed sanitation services, urban  (% of urban population)          132 non-null    float64
 14  Rural population (% of total population)                                                 588 non-null    float64
 15  Rural population growth (annual %)                                                       588 non-null    float64
 16  Urban population (% of total population)                                                 588 non-null    float64
 17  Urban population growth (annual %)                                                       588 non-null    float64
 18  People using at least basic drinking water services (% of population)                    588 non-null    float64
 19  People using at least basic drinking water services, rural (% of rural population)       566 non-null    float64
 20  People using at least basic drinking water services, urban (% of urban population)       566 non-null    float64
 21  People using at least basic sanitation services (% of population)                        588 non-null    float64
 22  People using at least basic sanitation services, rural (% of rural population)           566 non-null    float64
 23  People using at least basic sanitation services, urban  (% of urban population)          566 non-null    float64
 24  latitude                                                                                 594 non-null    float64
 25  longitude                                                                                594 non-null    float64
 26  geometry                                                                                 594 non-null    object
dtypes: float64(23), int64(1), object(3)
memory usage: 125.4+ KB

In [9]:
# Check null values
df.isnull().sum().sort_values(ascending = False)

People using safely managed drinking water services, rural (% of rural population)         506
People using safely managed drinking water services (% of population)                      495
Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)      488
People using safely managed sanitation services, rural (% of rural population)             484
Children with fever receiving antimalarial drugs (% of children under age 5 with fever)    472
People using safely managed sanitation services, urban  (% of urban population)            462
People using safely managed sanitation services (% of population)                          462
Use of insecticide-treated bed nets (% of under-5 population)                              462
People using safely managed drinking water services, urban (% of urban population)         418
Malaria cases reported                                                                      44
Incidence of malaria (per 1,000 population at risk)                                         44
People using at least basic sanitation services, urban  (% of urban population)             28
People using at least basic drinking water services, rural (% of rural population)          28
People using at least basic drinking water services, urban (% of urban population)          28
People using at least basic sanitation services, rural (% of rural population)              28
Rural population (% of total population)                                                     6
Rural population growth (annual %)                                                           6
Urban population (% of total population)                                                     6
Urban population growth (annual %)                                                           6
People using at least basic drinking water services (% of population)                        6
People using at least basic sanitation services (% of population)                            6
longitude                                                                                    0
latitude                                                                                     0
Country Name                                                                                 0
Year                                                                                         0
Country Code                                                                                 0
geometry                                                                                     0
dtype: int64

In [10]:
# Check if there are any duplicates
df.duplicated().sum()

0