In [ ]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib
from matplotlib import style

Using matplotlib backend: nbAgg

# Importing Libraries

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dataset/MalariaAfricaDataset.csv')

In [ ]:
df.head(10)

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)",...,Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
5,Burundi,2007,BDI,222.92,1101644.0,NaN,NaN,NaN,NaN,NaN,...,5.82,54.73,51.39,85.24,45.91,46.26,42.78,-3.373056,29.918886,POINT (-3.373056 29.918886)
6,Cabo Verde,2007,CPV,0.15,18.0,NaN,NaN,NaN,NaN,NaN,...,2.66,81.39,71.02,88.48,54.85,38.90,65.77,16.002082,-24.013197,POINT (16.002082 -24.013197)
7,Cameroon,2007,CMR,386.68,0.0,NaN,NaN,NaN,NaN,NaN,...,3.96,60.09,38.85,81.55,39.25,23.01,55.66,7.369722,12.354722,POINT (7.369722 12.354722)
8,Central African Republic,2007,CAF,471.11,0.0,NaN,NaN,NaN,NaN,NaN,...,2.30,51.10,38.18,71.87,20.55,8.76,39.50,6.611111,20.939444,POINT (6.611111 20.939444)
9,Chad,2007,TCD,210.71,48288.0,NaN,NaN,NaN,NaN,NaN,...,3.55,40.34,30.88,74.12,11.15,5.75,30.45,15.454166,18.732207,POINT (15.454166 18.732207)
10,Comoros,2007,COM,60.65,38913.0,NaN,NaN,NaN,NaN,NaN,...,2.41,85.86,84.59,89.14,33.44,28.68,45.76,-11.652000,43.372600,POINT (-11.652 43.3726)
11,"Congo, Dem. Rep.",2007,COD,481.93,740858.0,6.0,29.8,2.5,NaN,NaN,...,4.57,37.80,18.57,68.54,20.52,19.04,22.88,-4.038333,21.758664,POINT (-4.038333 21.758664)
12,"Congo, Rep.",2007,COG,281.83,103213.0,NaN,NaN,NaN,34.50,9.93,...,4.17,62.71,25.53,85.60,14.53,5.94,19.81,-0.228021,15.827659,POINT (-0.228021 15.827659)
13,Cote d'Ivoire,2007,CIV,509.98,0.0,NaN,NaN,NaN,34.96,16.64,...,3.11,71.72,56.51,89.53,24.72,10.57,41.28,7.539989,-5.547080,POINT (7.539989 -5.54708)
14,Djibouti,2007,DJI,3.84,2320.0,NaN,NaN,NaN,NaN,NaN,...,1.42,75.52,51.57,82.74,51.10,13.68,62.37,11.825138,42.590275,POINT (11.825138 42.590275)

In [ ]:
df.shape

(594, 27)

In [ ]:
df.isnull()

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)",...,Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
590,False,False,False,True,True,True,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
592,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.describe()

,Year,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)","People using safely managed drinking water services, urban (% of urban population)",People using safely managed sanitation services (% of population),...,Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude
count,594.000000,550.000000,5.500000e+02,132.000000,122.000000,106.000000,99.000000,88.000000,176.000000,132.000000,...,588.000000,588.000000,588.000000,566.000000,566.000000,588.000000,566.000000,566.000000,594.000000,594.000000
mean,2012.000000,190.087491,1.068330e+06,42.530303,30.201639,15.013958,33.478990,12.470568,51.549545,28.768939,...,43.164116,3.523061,65.994915,51.449576,84.268498,39.469796,28.077208,48.088375,2.828796,17.342546
std,3.164943,163.054527,2.192802e+06,20.157059,18.903198,12.389166,26.678321,10.078371,24.157416,18.631510,...,18.086118,1.456244,17.283361,18.927868,9.307285,26.304934,24.046725,21.802128,15.678226,20.041257
min,2007.000000,0.000000,0.000000e+00,1.000000,0.500000,0.000000,5.770000,0.930000,11.200000,6.370000,...,9.860000,-4.650000,28.960000,17.050000,52.010000,4.990000,1.890000,12.580000,-30.559482,-24.013197
25%,2009.000000,30.857500,2.211750e+03,26.675000,17.275000,5.763285,8.975000,4.185000,34.125000,16.532500,...,28.795000,2.512500,52.375000,37.075000,78.080000,18.197500,8.842500,30.775000,-6.369028,0.824782
50%,2012.000000,174.775000,1.130260e+05,42.900000,29.300000,11.500000,28.390000,10.675000,51.365000,25.410000,...,41.560000,3.730000,64.470000,50.435000,85.420000,32.555000,18.815000,44.695000,6.744051,18.611308
75%,2015.000000,347.637500,1.154808e+06,56.325000,42.625000,21.850000,43.890000,16.887500,70.747500,35.725000,...,56.945000,4.450000,79.165000,62.245000,90.082500,54.810000,38.082500,58.845000,12.862807,31.465866
max,2017.000000,585.540000,1.682113e+07,95.500000,76.900000,59.600000,92.660000,39.930000,89.540000,78.120000,...,88.980000,7.400000,99.870000,99.830000,99.920000,100.000000,95.180000,98.300000,33.886917,57.552152

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 27 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Country Name                                                                             594 non-null    object
 1   Year                                                                                     594 non-null    int64
 2   Country Code                                                                             594 non-null    object
 3   Incidence of malaria (per 1,000 population at risk)                                      550 non-null    float64
 4   Malaria cases reported                                                                   550 non-null    float64
 5   Use of insecticide-treated bed nets (% of under-5 population)                            132 non-null    float64
 6   Children with fever receiving antimalarial drugs (% of children under age 5 with fever)  122 non-null    float64
 7   Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)    106 non-null    float64
 8   People using safely managed drinking water services (% of population)                    99 non-null     float64
 9   People using safely managed drinking water services, rural (% of rural population)       88 non-null     float64
 10  People using safely managed drinking water services, urban (% of urban population)       176 non-null    float64
 11  People using safely managed sanitation services (% of population)                        132 non-null    float64
 12  People using safely managed sanitation services, rural (% of rural population)           110 non-null    float64
 13  People using safely managed sanitation services, urban  (% of urban population)          132 non-null    float64
 14  Rural population (% of total population)                                                 588 non-null    float64
 15  Rural population growth (annual %)                                                       588 non-null    float64
 16  Urban population (% of total population)                                                 588 non-null    float64
 17  Urban population growth (annual %)                                                       588 non-null    float64
 18  People using at least basic drinking water services (% of population)                    588 non-null    float64
 19  People using at least basic drinking water services, rural (% of rural population)       566 non-null    float64
 20  People using at least basic drinking water services, urban (% of urban population)       566 non-null    float64
 21  People using at least basic sanitation services (% of population)                        588 non-null    float64
 22  People using at least basic sanitation services, rural (% of rural population)           566 non-null    float64
 23  People using at least basic sanitation services, urban  (% of urban population)          566 non-null    float64
 24  latitude                                                                                 594 non-null    float64
 25  longitude                                                                                594 non-null    float64
 26  geometry                                                                                 594 non-null    object
dtypes: float64(23), int64(1), object(3)
memory usage: 125.4+ KB

## Checking for duplicate Data

In [ ]:
for isduplicate in df.duplicated().array:
  if isduplicate:
    print("Duplicate was found and dropped")
    df.drop_duplicates(implace=True)
    break
  else:
      pass
      print("No duplicate found")
      df[df.duplicated()==True]

No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found
No duplicate found

## Making a deep copy of the original dataset

In [ ]:
# Selected columns in the dataset
selected_columns = ['Incidence of malaria (per 1,000 population at risk)','Malaria cases reported', 'Use of insecticide-treated bed nets (% of under-5 population)','People using safely managed sanitation services (% of population)','People using at least basic sanitation services (% of population)','Rural population (% of total population)','Urban population (% of total population)','Year','Country Name']
df1 = df[selected_columns]

In [ ]:
df1 = df.copy(deep = True)
df1.head(20)

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)",...,Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
5,Burundi,2007,BDI,222.92,1101644.0,NaN,NaN,NaN,NaN,NaN,...,5.82,54.73,51.39,85.24,45.91,46.26,42.78,-3.373056,29.918886,POINT (-3.373056 29.918886)
6,Cabo Verde,2007,CPV,0.15,18.0,NaN,NaN,NaN,NaN,NaN,...,2.66,81.39,71.02,88.48,54.85,38.90,65.77,16.002082,-24.013197,POINT (16.002082 -24.013197)
7,Cameroon,2007,CMR,386.68,0.0,NaN,NaN,NaN,NaN,NaN,...,3.96,60.09,38.85,81.55,39.25,23.01,55.66,7.369722,12.354722,POINT (7.369722 12.354722)
8,Central African Republic,2007,CAF,471.11,0.0,NaN,NaN,NaN,NaN,NaN,...,2.30,51.10,38.18,71.87,20.55,8.76,39.50,6.611111,20.939444,POINT (6.611111 20.939444)
9,Chad,2007,TCD,210.71,48288.0,NaN,NaN,NaN,NaN,NaN,...,3.55,40.34,30.88,74.12,11.15,5.75,30.45,15.454166,18.732207,POINT (15.454166 18.732207)
10,Comoros,2007,COM,60.65,38913.0,NaN,NaN,NaN,NaN,NaN,...,2.41,85.86,84.59,89.14,33.44,28.68,45.76,-11.652000,43.372600,POINT (-11.652 43.3726)
11,"Congo, Dem. Rep.",2007,COD,481.93,740858.0,6.0,29.8,2.5,NaN,NaN,...,4.57,37.80,18.57,68.54,20.52,19.04,22.88,-4.038333,21.758664,POINT (-4.038333 21.758664)
12,"Congo, Rep.",2007,COG,281.83,103213.0,NaN,NaN,NaN,34.50,9.93,...,4.17,62.71,25.53,85.60,14.53,5.94,19.81,-0.228021,15.827659,POINT (-0.228021 15.827659)
13,Cote d'Ivoire,2007,CIV,509.98,0.0,NaN,NaN,NaN,34.96,16.64,...,3.11,71.72,56.51,89.53,24.72,10.57,41.28,7.539989,-5.547080,POINT (7.539989 -5.54708)
14,Djibouti,2007,DJI,3.84,2320.0,NaN,NaN,NaN,NaN,NaN,...,1.42,75.52,51.57,82.74,51.10,13.68,62.37,11.825138,42.590275,POINT (11.825138 42.590275)
15,"Egypt, Arab Rep.",2007,EGY,0.00,0.0,NaN,NaN,NaN,NaN,NaN,...,1.76,98.38,97.57,99.46,93.05,90.52,96.40,26.820553,30.802498,POINT (26.820553 30.802498)
16,Equatorial Guinea,2007,GNQ,398.15,6287.0,NaN,NaN,NaN,NaN,NaN,...,7.40,57.12,34.43,71.56,61.32,51.85,67.35,1.650801,10.267895,POINT (1.650801 10.267895)
17,Eritrea,2007,ERI,12.54,15565.0,NaN,NaN,NaN,NaN,NaN,...,5.62,49.25,29.13,90.06,10.56,3.82,24.21,15.179384,39.782334,POINT (15.179384 39.782334)
18,Eswatini,2007,SWZ,0.29,84.0,1.0,0.6,0.5,NaN,NaN,...,0.26,59.46,50.65,91.01,53.72,51.60,61.31,-26.522503,31.465866,POINT (-26.522503 31.465866)
19,Ethiopia,2007,ETH,121.69,451816.0,33.0,10.0,NaN,6.65,0.93,...,4.10,28.96,19.46,78.44,4.99,2.59,17.47,9.145000,40.489673,POINT (9.145 40.489673)

In [ ]:
# Remove whitespaces from column names
df1.columns = df1.columns.str.replace(' ', '_')
df1

,Country_Name,Year,Country_Code,"Incidence_of_malaria_(per_1,000_population_at_risk)",Malaria_cases_reported,Use_of_insecticide-treated_bed_nets_(%_of_under-5_population),Children_with_fever_receiving_antimalarial_drugs_(%_of_children_under_age_5_with_fever),Intermittent_preventive_treatment_(IPT)_of_malaria_in_pregnancy_(%_of_pregnant_women),People_using_safely_managed_drinking_water_services_(%_of_population),"People_using_safely_managed_drinking_water_services,_rural_(%_of_rural_population)",...,Urban_population_growth_(annual_%),People_using_at_least_basic_drinking_water_services_(%_of_population),"People_using_at_least_basic_drinking_water_services,_rural_(%_of_rural_population)","People_using_at_least_basic_drinking_water_services,_urban_(%_of_urban_population)",People_using_at_least_basic_sanitation_services_(%_of_population),"People_using_at_least_basic_sanitation_services,_rural_(%_of_rural_population)","People_using_at_least_basic_sanitation_services,_urban__(%_of_urban_population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,...,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,...,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,...,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,...,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,...,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Togo,2017,TGO,278.20,1755577.0,69.7,31.1,41.7,NaN,NaN,...,3.79,65.13,48.39,89.06,16.13,7.40,28.61,8.619543,0.824782,POINT (8.619543 0.824782)
590,Tunisia,2017,TUN,NaN,NaN,NaN,NaN,NaN,92.66,NaN,...,1.57,96.25,88.71,99.70,90.92,81.35,95.29,33.886917,9.537499,POINT (33.886917 9.537499)
591,Uganda,2017,UGA,336.76,11667831.0,NaN,NaN,NaN,7.07,4.46,...,6.25,49.10,41.25,75.11,18.47,16.17,26.11,1.373333,32.290275,POINT (1.373333 32.290275)
592,Zambia,2017,ZMB,160.05,5505639.0,NaN,NaN,NaN,NaN,NaN,...,4.21,59.96,41.95,83.86,26.37,18.93,36.24,-13.133897,27.849332,POINT (-13.133897 27.849332)
593,Zimbabwe,2017,ZWE,108.55,467508.0,NaN,NaN,NaN,NaN,NaN,...,1.28,64.05,49.80,94.00,36.22,31.47,46.22,-19.015438,29.154857,POINT (-19.015438 29.154857)

In [ ]:
# Checking for the data types of the columns
df1.dtypes

Country_Name                                                                                object
Year                                                                                         int64
Country_Code                                                                                object
Incidence_of_malaria_(per_1,000_population_at_risk)                                        float64
Malaria_cases_reported                                                                     float64
Use_of_insecticide-treated_bed_nets_(%_of_under-5_population)                              float64
Children_with_fever_receiving_antimalarial_drugs_(%_of_children_under_age_5_with_fever)    float64
Intermittent_preventive_treatment_(IPT)_of_malaria_in_pregnancy_(%_of_pregnant_women)      float64
People_using_safely_managed_drinking_water_services_(%_of_population)                      float64
People_using_safely_managed_drinking_water_services,_rural_(%_of_rural_population)         float64
People_using_safely_managed_drinking_water_services,_urban_(%_of_urban_population)         float64
People_using_safely_managed_sanitation_services_(%_of_population)                          float64
People_using_safely_managed_sanitation_services,_rural_(%_of_rural_population)             float64
People_using_safely_managed_sanitation_services,_urban__(%_of_urban_population)            float64
Rural_population_(%_of_total_population)                                                   float64
Rural_population_growth_(annual_%)                                                         float64
Urban_population_(%_of_total_population)                                                   float64
Urban_population_growth_(annual_%)                                                         float64
People_using_at_least_basic_drinking_water_services_(%_of_population)                      float64
People_using_at_least_basic_drinking_water_services,_rural_(%_of_rural_population)         float64
People_using_at_least_basic_drinking_water_services,_urban_(%_of_urban_population)         float64
People_using_at_least_basic_sanitation_services_(%_of_population)                          float64
People_using_at_least_basic_sanitation_services,_rural_(%_of_rural_population)             float64
People_using_at_least_basic_sanitation_services,_urban__(%_of_urban_population)            float64
latitude                                                                                   float64
longitude                                                                                  float64
geometry                                                                                    object
dtype: object

## Checking for Null values

In [ ]:
df1.isnull().sum().sort_values(ascending=False)

People_using_safely_managed_drinking_water_services,_rural_(%_of_rural_population)         506
People_using_safely_managed_drinking_water_services_(%_of_population)                      495
Intermittent_preventive_treatment_(IPT)_of_malaria_in_pregnancy_(%_of_pregnant_women)      488
People_using_safely_managed_sanitation_services,_rural_(%_of_rural_population)             484
Children_with_fever_receiving_antimalarial_drugs_(%_of_children_under_age_5_with_fever)    472
People_using_safely_managed_sanitation_services,_urban__(%_of_urban_population)            462
People_using_safely_managed_sanitation_services_(%_of_population)                          462
Use_of_insecticide-treated_bed_nets_(%_of_under-5_population)                              462
People_using_safely_managed_drinking_water_services,_urban_(%_of_urban_population)         418
Malaria_cases_reported                                                                      44
Incidence_of_malaria_(per_1,000_population_at_risk)                                         44
People_using_at_least_basic_sanitation_services,_urban__(%_of_urban_population)             28
People_using_at_least_basic_drinking_water_services,_rural_(%_of_rural_population)          28
People_using_at_least_basic_drinking_water_services,_urban_(%_of_urban_population)          28
People_using_at_least_basic_sanitation_services,_rural_(%_of_rural_population)              28
Rural_population_(%_of_total_population)                                                     6
Rural_population_growth_(annual_%)                                                           6
Urban_population_(%_of_total_population)                                                     6
Urban_population_growth_(annual_%)                                                           6
People_using_at_least_basic_drinking_water_services_(%_of_population)                        6
People_using_at_least_basic_sanitation_services_(%_of_population)                            6
longitude                                                                                    0
latitude                                                                                     0
Country_Name                                                                                 0
Year                                                                                         0
Country_Code                                                                                 0
geometry                                                                                     0
dtype: int64

## Data Cleaning

In [ ]:
df1.columns

Index(['Country_Name', 'Year', 'Country_Code',
       'Incidence_of_malaria_(per_1,000_population_at_risk)',
       'Malaria_cases_reported',
       'Use_of_insecticide-treated_bed_nets_(%_of_under-5_population)',
       'Children_with_fever_receiving_antimalarial_drugs_(%_of_children_under_age_5_with_fever)',
       'Intermittent_preventive_treatment_(IPT)_of_malaria_in_pregnancy_(%_of_pregnant_women)',
       'People_using_safely_managed_drinking_water_services_(%_of_population)',
       'People_using_safely_managed_drinking_water_services,_rural_(%_of_rural_population)',
       'People_using_safely_managed_drinking_water_services,_urban_(%_of_urban_population)',
       'People_using_safely_managed_sanitation_services_(%_of_population)',
       'People_using_safely_managed_sanitation_services,_rural_(%_of_rural_population)',
       'People_using_safely_managed_sanitation_services,_urban__(%_of_urban_population)',
       'Rural_population_(%_of_total_population)',
       'Rural_population_growth_(annual_%)',
       'Urban_population_(%_of_total_population)',
       'Urban_population_growth_(annual_%)',
       'People_using_at_least_basic_drinking_water_services_(%_of_population)',
       'People_using_at_least_basic_drinking_water_services,_rural_(%_of_rural_population)',
       'People_using_at_least_basic_drinking_water_services,_urban_(%_of_urban_population)',
       'People_using_at_least_basic_sanitation_services_(%_of_population)',
       'People_using_at_least_basic_sanitation_services,_rural_(%_of_rural_population)',
       'People_using_at_least_basic_sanitation_services,_urban__(%_of_urban_population)',
       'latitude', 'longitude', 'geometry'],
      dtype='object')

## Handling Null values

In [ ]:
# filling Null values with zero
columns_to_fill_with_zeros = ['Use_of_insecticide-treated_bed_nets_(%_of_under-5_population)','People_using_safely_managed_sanitation_services_(%_of_population)']
df1[columns_to_fill_with_zeros] = df1[columns_to_fill_with_zeros].fillna( value = 0)
print()

In [ ]:
df1.isnull().sum()

Country_Name                                                                                 0
Year                                                                                         0
Country_Code                                                                                 0
Incidence_of_malaria_(per_1,000_population_at_risk)                                         44
Malaria_cases_reported                                                                      44
Use_of_insecticide-treated_bed_nets_(%_of_under-5_population)                                0
Children_with_fever_receiving_antimalarial_drugs_(%_of_children_under_age_5_with_fever)    472
Intermittent_preventive_treatment_(IPT)_of_malaria_in_pregnancy_(%_of_pregnant_women)      488
People_using_safely_managed_drinking_water_services_(%_of_population)                      495
People_using_safely_managed_drinking_water_services,_rural_(%_of_rural_population)         506
People_using_safely_managed_drinking_water_services,_urban_(%_of_urban_population)         418
People_using_safely_managed_sanitation_services_(%_of_population)                            0
People_using_safely_managed_sanitation_services,_rural_(%_of_rural_population)             484
People_using_safely_managed_sanitation_services,_urban__(%_of_urban_population)            462
Rural_population_(%_of_total_population)                                                     6
Rural_population_growth_(annual_%)                                                           6
Urban_population_(%_of_total_population)                                                     6
Urban_population_growth_(annual_%)                                                           6
People_using_at_least_basic_drinking_water_services_(%_of_population)                        6
People_using_at_least_basic_drinking_water_services,_rural_(%_of_rural_population)          28
People_using_at_least_basic_drinking_water_services,_urban_(%_of_urban_population)          28
People_using_at_least_basic_sanitation_services_(%_of_population)                            6
People_using_at_least_basic_sanitation_services,_rural_(%_of_rural_population)              28
People_using_at_least_basic_sanitation_services,_urban__(%_of_urban_population)             28
latitude                                                                                     0
longitude                                                                                    0
geometry                                                                                     0
dtype: int64

In [ ]:

# Choosing the column names with missing values to fill with the mean
columns_to_fill_mean = ['Rural population (% of total population)','Urban population (% of total population)','People using at least basic sanitation services (% of population)','Incidence of malaria (per 1,000 population at risk)','Malaria cases reported']

mean_values = df1[columns_to_fill_mean].mean()

# Fill missing values in each column with its respective mean
for column in columns_to_fill_mean:
    df1[column].fillna(mean_values[column], inplace=True)

In [ ]:
df1.isnull().sum()

In [ ]:

# Check if the sum of 'Rural population' and 'Urban population' is always equal to 100
check_sum = (df1['Rural_population_(%_of_total_population)'] + df['Urban_population_(%_of_total_population)']) == 100
print(check_sum)

In [ ]:
# Identifying years where Malaria incidences where many
year_incidences = ['Incidence_of_malaria_(per_1,000_population_at_risk)', 'Year','Country_Name']
filtered_df = df1[year_incidences]
print(filtered_df)

In [ ]:
# Identifying incidences of Malaria in each country
incidences = ['Incidence_of_malaria_(per_1,000_population_at_risk)','Country_Name']
filtered_df = df1[incidences]
print(filtered_df)

In [ ]:
#  Group by year and count the number of Malaria Incidences for each year
yearly_incidence_count = df.groupby('Year')['Incidence_of_malaria_(per_1,000_population_at_risk)'].count().reset_index()

# Print the yearly Incidence count
print(yearly_incidence_count)

In [ ]:
sns.barplot(data=df1,y='Country_Name',x='Incidence_of_malaria_(per_1,000_population_at_risk)')

## Plotting Incidences of Malaria with occured per year

In [ ]:
!pip install seaborn matplotlib

In [28]:

# Converting the column to integer data type for easy plotting
df1['Incidence_of_malaria_(per_1,000_population_at_risk)'] = df1['Incidence_of_malaria_(per_1,000_population_at_risk)'].astype(int)